#kakao OAuth2 설정
spring.security.oauth2.client.registration.kakao.client-id=ce1dc31ea67a76ebff209bb8dff8992e
spring.security.oauth2.client.registration.kakao.client-secret=e2Ja6lnaDtWEMxcSYYRuJD55GN3dKe2S
spring.security.oauth2.client.registration.kakao.redirect-url={baseUrl}/oauth2/callback/kakao/{registrationId}
spring.security.oauth2.client.registration.kakao.authorization-grant-type=authorization_code
spring.security.oauth2.client.registration.kakao.redirect-uri={baseUrl}/login/oauth2/code/kakao
spring.security.oauth2.client.registration.kakao.client-authentication-method=POST
#kakao OAuth2 Provider 설정
spring.security.oauth2.client.provider.kakao.authorization-uri=https://kauth.kakao.com/oauth/authorize
spring.security.oauth2.client.provider.kakao.token-uri=https://kauth.kakao.com/oauth/token
spring.security.oauth2.client.provider.kakao.user-info-uri=http://kapi.kakao.com/v2/user/me
spring.security.oauth2.client.provider.kakao.user-name-attribute=id
